@import 'styles/colors.module.scss';

.root {
  width: fit-content;
  border-radius: 20px !important;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;

    .loginButton {
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      gap: 10px;
    }

    .avatar {
      margin: 8px 0px 32px 0px;
      background-color: $primaryColor;
    }

    .divider {
      margin: 10px 0px;
    }

    .login {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      text-decoration: underline;
      text-transform: none;
    }
  }
}
